
/*para poder ponerlo adelante de todo lo que venga despues
el padre tiene que ser position:relative y el hijo que quiero
poner adelante position:absolute*/


/*poner esta clase en el pacre de mensaje-enviado-texto
para que aparezca el mensaje de enviado*/
.mensaje-enviado{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background:#ededed;
    width: 100%;
    height:100%;
    transition: 500ms;
}

.mensaje-enviado .mensaje-enviado-texto{
    display: block;
    background: #2A7AE4;
    padding: 2rem;
    transition: 500ms;
}

.mensaje-enviado .mensaje-enviado-texto h2{
    display: block;
    font-size: 1.3em;
    color: #ededed;
    transition: 500ms;
}


.mensaje-enviado-texto{
    display: none;
}
.mensaje-enviado-texto h2{
    display:none;
}

@media only screen and (max-width: 768px){

    .mensaje-enviado .mensaje-enviado-texto h2{
        font-size: 0.8em;
    }
}