
/*header*/

body{
    width: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #EDEDED;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

header h3 img{
    height: 2rem;
    vertical-align: middle;
}

header h3{
    font-size: 25px;
    padding-left: 2%;
}

#items-barra{
    padding-top: 0.4rem;
}

#items-barra li{
    display: inline;
    margin: 0 0 0 15px;
}

#items-barra a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}


/* sección perfil*/

#perfil{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 2rem 4rem;
}

#perfil-div{
    text-align: left;
    
}

#perfil-div h1{
    font-size: 40px;
    font-weight: bold;
    padding: 2%;
    margin: 2%;
}

#perfil-div h2{
    font-size: 20px;
    font-style: italic;
    padding: 2%;
    margin: 2%;
}

#perfil-div nav{
    padding: 2%;
    margin: 2%;
}

#perfil-div nav a{
    padding-left: 5%;
    font-size: 20px;
    font-weight: bold;
}


#perfil-contacto a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

#perfil-img{
    padding: 10%;

}

#perfil-img img{
    border-radius: 100%;
    width: 100%;
}

#sobre-mi{
    
    background-color: #eaf2fd;
    padding: 2vh 10vh;
}

#sobre-mi h2{
    font-size: 3.5em;
    font-weight: bold;
}

#sobre-mi p{
    width: 70%;
    margin-top: 1rem;
    font-size: 1.3em;
    font-style: italic;
}

#sobre-mi img{
    width: 5%;
    padding-top: 2rem;
}

/*Formato de secciones (skills, otherskills, hobbies)*/

.secciones-titulo{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 2rem;
}

.secciones-lista ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
    gap: 2.5vh;
    }

.secciones-lista li{
    height: 174px;
    width: 176px;
    background-color: white;
    text-align: center;
}

.secciones-lista li img{
    width: 5rem;
    padding-top: 2rem;
}

.secciones-lista li img:hover{
    transform: scale(1.2);
    filter: drop-shadow(2px 4px 1px hsl(0, 0%, 68%));
    transition: .1s all;
}

.secciones-lista h3{
    font-size: 20px;
    padding: 0.5rem;
}


@media (max-width: 1040px) {

    #items-barra li{
        display: none;
        margin: 0 0 0 15px;
    }
    #items-barra li:last-child{
        display: block;
        margin: 0 0 0 15px;
    }
}



@media only screen and (max-width:px) {

}



@media only screen and (max-width: 550px) {
    
    #perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-wrap: wrap-reverse;
    }

    #perfil{
        padding: 0;
    }

    #perfil-div h1{
        font-size: 1.6em;
        padding:0 0.5em;
    }

    #perfil-div h2{
        font-size: 1em;
        padding:0 0.5em;
    }

    #perfil-img{
        width: 30%;
        padding:1em 1em 1em 1.2em;
    }

    #perfil-contacto{
        text-align: center;
    }

    #sobre-mi{
        padding:0 0.5em;
    }

    #sobre-mi h2{
        padding: 0.2em 0.2em 0 0.2em;
        font-size: 2.5em;
    }

    #sobre-mi p{
        width: 95%;
        margin:0.5em 0.5em;
    }

    #sobre-mi img{
        width: 20%;
        padding: 0 0 0 2em;
    }

    .secciones-titulo{
        font-size: 2.5em;
    }

}


